body{
  background-color: aqua;
}
p {
    color: red;
    text-align: center;
  }
  blockquote{
    color: deeppink;
    text-align: center;
  }
  h1{
      text-align: center;
      color: rgb(0, 64, 128);
  }
  /*
  h2{
    text-align: center;
    color: rgb(25, 0, 255);
  }
  */
  h2#text1{
    text-align: center;
    color: rgb(25, 0, 255);
  }
  h3{
    text-align: center;
    color: darkslateblue;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #button1{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }